@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  @apply m-0 p-0 relative w-full h-[40vh];
  background: url("https://chillflix.netlify.app/static/media/hero.abd43baf.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  animation: bgPosition 3s linear infinite;
}

.hero::after {
  @apply absolute top-0 left-0 w-full h-full bg-[#171717bb];
  content: "";
}

@keyframes bgPosition {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

.hero__content {
  @apply relative h-full p-[32px] text-[#fff] flex flex-col items-center justify-center z-[2];
  font-size: calc(10px + 2vmin);
}

.hero__content--text {
  @apply text-[#fff] m-0 p-0 text-center leading-[4rem];
}

.form {
  @apply text-[#fff] p-0 w-full my-[20px] mx-0;
}

.form__content {
  @apply text-[#fff] h-[3rem] m-auto p-[5px] grid rounded-[50px] w-[80%];
  font-size: calc(10px + 2vmin);
  background-image: linear-gradient(
    to right top,
    #ff2901,
    #d9004a,
    #9a1862,
    #562a5a,
    #262335
  );
  grid-template-columns: 5fr 1fr;
}

.form__input-field {
  @apply m-0 text-[#0d0d0d] h-full border-transparent outline-none text-base py-0 px-[30px] bg-[#fff] rounded-[50px];
}

.form__input-field::placeholder {
  font-size: 16px;
}

.form__btn {
  @apply m-0 p-0 h-full border-transparent outline-none text-[#fff] cursor-pointer text-base;
  background: transparent;
}
